<div class="container_horizontal width_100">
    <form class="container_vertical gap_10 full margin_10" [formGroup]="formRight">
        <mat-form-field>
            <mat-label>Your message</mat-label>
            <textarea (keydown)="onKeydown($event)" rows="1" matInput formControlName="text"></textarea>
        </mat-form-field>
        
        <div class="container_horizontal end gap_10">
            <button class="btn btn-danger" (click)="resetChat()">
                <mat-icon>delete_forever</mat-icon>
                Reset chat
            </button>
            <button class="btn btn-primary" (click)="chat()">
                <mat-icon>send</mat-icon>
                Send
            </button>
        </div>
        <div class="container_horizontal width_100">
            <p>{{seconds}}</p>
        </div>
        <div *ngIf="answers.length > 0" class="container_horizontal width_100 ">
            <ul class="">
                <li *ngFor="let answer of answers">
                    <p class="answer" [innerHtml]="answer.query"></p>
                    <p class="query query_detail" [innerHtml]="answer.answer"></p>
                </li>
            </ul>
        </div>
    </form>
</div>