<div mat-dialog-title>
    <header>
        <mat-icon class="peque">cloud</mat-icon>
        <span>Cloud manager</span>
        <mat-icon class="peque manito" (click)="cancel()">close</mat-icon>
    </header>
</div>
<mat-dialog-content class="mat-typography container_popup">
    <div class="container_horizontal">
        <div class="container_vertical gap_10">
            <div *ngFor="let service of services | keyvalue" class="container_horizontal vcentered gap_10">
                <mat-icon class="indicator" [ngClass]="service.value.status">{{
                    service.value.status }}</mat-icon>
                <label class="full">{{ service.value.label }}</label>
                <button (click)="cloudManagerSrv.startService(service.key, service.value)"
                    class="btn btn-primary action start" [ngClass]="service.value.status">
                    <mat-icon>play_arrow</mat-icon>
                    Start
                </button>
                <button (click)="cloudManagerSrv.stopService(service.key, service.value)"
                    class="btn btn-primary action stop" [ngClass]="service.value.status">
                    <mat-icon>pause</mat-icon>
                    Pause
                </button>
            </div>
        </div>
    </div>
</mat-dialog-content>
<div class="bottom_buttons">
</div>