.indicator {
    cursor: pointer;
}

.indicator:hover {
    color: black;
}

.indicator.sentiment_very_dissatisfied {
    color: red;
}

.indicator.mood {
    color: green;
}

.indicator.pending {
    color: gray;
    /*pointer-events: none;*/
}

.btn.action.start {
    border-color: rgb(0, 100, 0);
    background-color: green;
}

.btn.action.stop {
    border-color: rgb(196, 2, 2);
    background-color: red;
}


.btn.action.pending,
.btn.action.start.mood,
.btn.action.stop.sentiment_very_dissatisfied
 {
    background-color: lightgray !important;
    pointer-events: none;
}