.body_parent {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

#canvas {
    display: none;
}

#video {
    position: absolute;
    z-index: 2;
    right: 20px;
    bottom: 20px;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.start_container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.start_button {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: red;
    color: white;
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
}

.no_mouse {
    pointer-events: none;
}

.body_state {
    left: 10px;
    top: 30px;
    position: absolute;
    z-index: 2;
    color: white;
}

.podometer {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.podometer span {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.meter_icon {
    width: 25px;
}

@media screen and (max-width: 360px) {
    #video {
        right: 5px;
        bottom: 5px;
        width: 150px;
        height: 150px;
    }
}