<!--button (click)="stopTracking()">Stop</button-->
<div class="body_parent">
    <canvas id="canvas" width="500" height="500"></canvas>
    <app-threejs-body [poses]="poses" [states]="states"></app-threejs-body>
    <!--pre>{{ poses[0]?.keypoints3D | json }}</pre-->
    <button class="start_button" (click)="startTracking()">Start</button>
</div>
<div class="body_parent no_mouse">
    <pre class="body_state">{{ states | json }}</pre>
    <video id="video" width="50" height="50">
        <source src="">
    </video>
</div>