<!--button (click)="stopTracking()">Stop</button-->
<div class="body_parent">
    <canvas id="canvas" width="500" height="500"></canvas>
    <app-threejs-body #child_reference [poses]="poses" [states]="states"
        (changedEvent)="renderUpdate($event)"></app-threejs-body>
    <!--pre>{{ poses[0]?.keypoints3D | json }}</pre-->
    <div *ngIf="!started" class="start_container">
        <button class="start_button" (click)="startTracking()">
            <mat-icon>play_arrow</mat-icon>
            <span>Start</span>
        </button>
    </div>
</div>
<div class="body_parent no_mouse">
    <p *ngIf="states[0]" class="podometer white_subtitle">
        <span>
            <img class="meter_icon" [src]="getRoot()+'assets/img/flame-icon.svg'">
            <strong>{{ states[0].data.calories }} Kcal</strong>
        </span>
        <span>
            <img class="meter_icon" [src]="getRoot()+'assets/img/earth-icon.svg'">
            <strong>{{ states[0].data.kilometers }} Km</strong>
        </span>
        <span>
            <img class="meter_icon" [src]="getRoot()+'assets/img/steps-icon.svg'">
            <strong>{{ states[0].data.stepCount }} Steps</strong>
        </span>
        <span>
            <strong>Score Top: {{ states[0].data.scoreTop }}</strong>
        </span>
        <span>
            <strong>Score Bottom: {{ states[0].data.scoreBottom }}</strong>
        </span>
        <span>
            <strong>Height: {{ states[0].data.height }}</strong>
        </span>
    </p>
    <!--pre class="body_state">{{ states | json }}</pre-->
    <video id="video" width="50" height="50">
        <source src="">
    </video>
</div>