<div mat-dialog-title>
    <header>
        <h1><mat-icon class="peque">settings</mat-icon>
            <span>Configuration</span>
        </h1>
        <mat-icon class="peque manito" (click)="cancel()">close</mat-icon>
    </header>
</div>
<mat-dialog-content class="mat-typography container_popup">
    <form class="form-container layout_columna border_bottom" [formGroup]="formRight">
        <div class="container_horizontal width_100">
            <div class="container_vertical full">
                <div class="container_horizontal gap_10 width_100">
                    <mat-form-field class="full">
                        <mat-label>Assistant name:</mat-label>
                        <input type="text" matInput formControlName="assistantName">
                    </mat-form-field>
                </div>
                <div class="container_horizontal gap_10 width_100">
                    <mat-form-field class="full">
                        <mat-label>Max tokens:</mat-label>
                        <input type="number" matInput formControlName="maxTokens">
                    </mat-form-field>
                    <mat-form-field class="full">
                        <mat-label>Top:</mat-label>
                        <input type="number" matInput formControlName="k">
                    </mat-form-field>
                </div>
                <div class="container_horizontal gap_10 width_100">
                    <mat-form-field class="full">
                        <mat-label>Max Distance:</mat-label>
                        <input type="number" matInput formControlName="maxDistance">
                    </mat-form-field>
                    <mat-form-field class="full">
                        <mat-label>Language</mat-label>
                        <select matNativeControl formControlName="language">
                            <option [ngValue]="'es'">Español</option>
                            <option [ngValue]="'en'">English</option>
                        </select>
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>System prompt:</mat-label>
                    <input type="text" matInput formControlName="systemPrompt">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Query prompt:</mat-label>
                    <input type="text" matInput formControlName="queryPrompt">
                </mat-form-field>
                <div class="container_horizontal">
                    <div class="container_horizontal vcentered full gap_10">
                        <label class="switch">
                            <input type="checkbox" [(ngModel)]="data.useRAC" [ngModelOptions]=" 
                 {standalone: true}">
                            <div class="slider round"></div>
                        </label>
                        <div>Use RAC?</div>
                    </div>
                    <div class="container_horizontal vcentered full gap_10">
                        <label class="switch">
                            <input type="checkbox" [(ngModel)]="data.showKnowledge" [ngModelOptions]=" 
                 {standalone: true}">
                            <div class="slider round"></div>
                        </label>
                        <div>Show knowledge?</div>
                    </div>
                    <div class="container_horizontal vcentered full gap_10">
                        <label class="switch">
                            <input type="checkbox" [(ngModel)]="data.outputAudio" [ngModelOptions]=" 
                 {standalone: true}">
                            <div class="slider round"></div>
                        </label>
                        <div>Output audio?</div>
                    </div>
                </div>
                <div class="margin_10"></div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<div class="bottom_buttons">
    <button class="btn btn-secondary" (click)="cancel()" type="button">
        <mat-icon>close</mat-icon>
        Cancel
    </button>
    <button class="btn btn-primary" (click)="accept()">
        <mat-icon>check</mat-icon>
        Accept
    </button>
</div>