<div mat-dialog-title>
    <header>
        <h1 class="centrado">Modelo de colaboración</h1>
        <span class="boton_cerrar" [mat-dialog-close]>
            <mat-icon>close</mat-icon>
        </span>
    </header>
</div>
<mat-dialog-content class="mat-typography con_form">
    <p class="texto_descripcion">Definir modelo de colaboración:</p>
    <form class="form-container layout_columna" [formGroup]="form" (ngSubmit)="apply()">
        <div class="list_container">
            <mat-form-field class="form-control">
                <mat-label>Model Id</mat-label>
                <input matInput formControlName="modelId" type="text" />
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<div mat-dialog-actions class="bottom_buttons">
    <button class="btn btn-secondary" (click)="cancelar()" type="button">
        <mat-icon>close</mat-icon>
        Cancelar
    </button>
    <button class="btn btn-primary" (click)="apply()" type="button">
        <mat-icon>check</mat-icon>
        Aplicar
    </button>
</div>