<div class="container_horizontal width_100">
    <form class="container_vertical gap_10 full margin_10" [formGroup]="formRight">
        <div class="container_horizontal width_100 gap_10">
            <div class="container_vertical full">
                <mat-form-field>
                    <mat-label>Document Id:</mat-label>
                    <input type="text" matInput formControlName="documentId">
                </mat-form-field>
            </div>
            <div class="container_vertical">
                <mat-form-field>
                    <mat-label>Chunk Size:</mat-label>
                    <input type="number" matInput formControlName="chunkSize">
                </mat-form-field>
            </div>
        </div>
        <div class="container_horizontal width_100 gap_10 vcentered">
            <label>{{ indexProgress }}%</label>
            <mat-progress-bar class="full" mode="determinate" value="{{indexProgress}}"></mat-progress-bar>
        </div>
        <mat-form-field>
            <mat-label>Knowlegde</mat-label>
            <textarea rows="10" matInput formControlName="text"></textarea>
        </mat-form-field>
        <div class="container_horizontal gap_10 end">
            <button class="btn btn-secondary" (click)="splitText()">
                Split text
                <mat-icon class="peque">content_cut</mat-icon>
            </button>
            <button class="btn btn-primary" (click)="indexQA()">
                Index text
                <mat-icon class="peque">bookmarks</mat-icon>
            </button>
        </div>
    </form>
    <div class="container_vertical full">
        <form class="container_vertical gap_10 margin_10" [formGroup]="formLeft">
            <div class="container_horizontal width_100 gap_10">
                <div class="container_vertical full">
                    <mat-form-field>
                        <mat-label>Query:</mat-label>
                        <input type="text" matInput formControlName="query">
                    </mat-form-field>
                </div>
            </div>
            <div class="container_horizontal gap_10 end">
                <button class="btn btn-primary" (click)="search()">
                    Search
                    <mat-icon class="peque">search</mat-icon>
                </button>
                <button class="btn btn-secondary" (click)="page()">
                    Page
                    <mat-icon class="peque">library_books</mat-icon>
                </button>
            </div>
        </form>
        <app-knowledge-list [(currentMatches)]="currentMatches" [config]="this.configSrv.getConfig()"></app-knowledge-list>
    </div>
</div>