<pre>{{ tupleModel | json }}</pre>
<div class="container_horizontal gap_10">
    <button class="btn btn-primary" (click)="setTime()">Catch Time</button>
    <button class="btn btn-secondary" (click)="testCifer()">Cipher</button>
    <button class="btn btn-danger" (click)="openWebcam({})">Open Webcam</button>
</div>
<div style="padding: 10px;">
    <app-blobeditor [options]="blobOptions" [url]="tupleModel?.blobFile"
        (urlChange)="tupleModel.blobFile=$event; saveTuple()">
    </app-blobeditor>
</div>
<div style="padding: 10px;">
    <app-txtfileeditor [options]="textOptions" [fileName]="'script.txt'" [url]="tupleModel?.txtFile"
        (urlChange)="tupleModel.txtFile=$event; saveTuple()">
    </app-txtfileeditor>
</div>
<div style="width: 500px; height: 500px;">
    <app-imagepicker [options]="imageOptions" [fileName]="'imagen.jpg'" [url]="tupleModel?.image"
        (urlChange)="tupleModel.image=$event; saveTuple()">
    </app-imagepicker>
</div>