<div class="container_horizontal width_100">
    <form class="container_vertical gap_10 full margin_10" [formGroup]="formRight">
        <mat-form-field>
            <mat-label>Your message</mat-label>
            <textarea rows="1" (keydown)="onKeydown($event)" matInput formControlName="text"></textarea>
        </mat-form-field>
        <div class="container_horizontal end gap_10">
            <button class="btn" (click)="configure()">
                <mat-icon class="peque">settings</mat-icon>
                Configure
            </button>
            <button class="btn" (click)="convert()">
                <mat-icon>play_arrow</mat-icon>
                Play
            </button>
        </div>
    </form>
</div>